# Attempts to implement MF on Movielens Dataset

In [1]:
import sys
sys.path.extend(['../../matrix-factorization'])

In [2]:
import numpy as np
import pandas as pd

from src.data import Dataset

In [4]:
dataset = Dataset('../movielens-20m-dataset/rating.csv', n_most_users=1000, m_most_items=200)

In [5]:
dataset.dataset['userIdOrdered'] = dataset.dataset['userId'].astype('category').cat.codes
dataset.dataset['movieIdOrdered'] = dataset.dataset['movieId'].astype('category').cat.codes
dataset.dataset = dataset.dataset.reset_index(drop=True)

In [6]:
train_dataset, test_dataset = dataset.split_dataset(0.2)

In [7]:
train_dataset

,userId,movieId,rating,timestamp,userIdOrdered,movieIdOrdered
41027,32984,1210,4.0,2002-06-13 07:28:38,245,104
161319,133133,2997,5.0,2006-09-05 17:07:52,966,167
67373,54447,2997,4.5,2005-08-03 18:02:49,402,167
96329,78356,260,4.5,2010-08-27 17:17:35,575,31
13711,10560,586,3.0,2005-06-18 03:41:40,81,64
...,...,...,...,...,...,...
27030,21391,8961,4.0,2005-04-15 23:26:03,161,197
39662,32094,7153,4.0,2009-03-04 11:49:03,237,194
109461,89495,1221,5.0,2015-01-30 01:17:36,653,109
161836,133811,2797,3.0,2002-01-11 04:48:00,969,161
130191,108142,47,4.5,2010-04-25 12:31:18,777,14

In [8]:
M = train_dataset.movieId.nunique()
N = train_dataset.userId.nunique()

In [9]:
# Hyperparameter
K = 10

In [10]:
W, U = np.random.randn(N, K), np.random.randn(M, K)

In [11]:
items_per_user = train_dataset.groupby("userIdOrdered").apply(
    lambda x: pd.Series({'ratedMovies': dict(zip(x["movieIdOrdered"], x["rating"])),
                         'meanRating': x["rating"].mean()}), include_groups=False)
users_per_item = train_dataset.groupby("movieIdOrdered").apply(
    lambda x: pd.Series({'usersRated': dict(zip(x["userIdOrdered"], x["rating"])),
                         'meanRating': x["rating"].mean()}), include_groups=False)

In [12]:
items_per_user

                                                     ratedMovies  meanRating
userIdOrdered
0              {40: 4.0, 104: 5.0, 146: 5.0, 24: 4.0, 167: 3....    4.381890
1              {199: 3.5, 61: 4.0, 139: 3.5, 167: 4.5, 66: 4....    3.684615
2              {43: 4.0, 51: 4.0, 199: 4.0, 121: 4.5, 65: 4.0...    4.003846
3              {47: 4.5, 156: 4.0, 13: 3.5, 199: 4.0, 48: 5.0...    4.084112
4              {88: 4.5, 103: 3.5, 10: 4.0, 21: 2.5, 87: 5.0,...    3.626667
...                                                          ...         ...
995            {88: 3.5, 65: 3.5, 28: 4.0, 136: 3.0, 167: 3.0...    3.346429
996            {196: 4.0, 39: 3.0, 33: 3.0, 172: 4.5, 157: 3....    4.139752
997            {41: 2.0, 15: 5.0, 78: 3.0, 146: 2.0, 93: 3.0,...    3.537190
998            {92: 4.0, 6: 4.0, 47: 3.0, 189: 5.0, 72: 4.0, ...    3.196667
999            {97: 4.5, 194: 4.5, 11: 4.0, 168: 4.5, 109: 4....    4.338462

[1000 rows x 2 columns]

In [13]:
items_rated_0 = items_per_user.loc[0].ratedMovies
len(U[list(items_rated_0.keys())]), len(items_rated_0)
np.dot(U[list(items_rated_0.keys())].T, U[list(items_rated_0.keys())]).shape
ratings = np.array(list(items_rated_0.values()))
np.dot(ratings, U[list(items_rated_0.keys())])

array([ -2.06850262, -52.45783837,  48.40221289,  98.19660302,
        15.64768976,  21.464773  ,  26.58955851, -28.82414861,
       -55.24250044,  83.23457995])

In [14]:
for t in range(100):
    print(f"Iteration {t + 1}")
    for user_id in items_per_user.index:
        items_rated_user_id = items_per_user.loc[user_id].ratedMovies 
        u = U[list(items_rated_user_id.keys())]
        ratings_w = np.array(list(items_rated_user_id.values()))
        A_w = np.dot(u.T, u)
        b_w = np.dot(ratings_w, u)
        W[user_id] = np.linalg.solve(A_w, b_w)
    for item_id in users_per_item.index:
        users_rated_item_id = users_per_item.loc[item_id].usersRated
        w = W[list(users_rated_item_id.keys())]
        ratings_u = np.array(list(users_rated_item_id.values()))
        A_u = np.dot(w.T, w)
        b_u = np.dot(ratings_u, w)
        U[item_id] = np.linalg.solve(A_u, b_u)

Iteration 1
Iteration 2
Iteration 3
Iteration 4
Iteration 5
Iteration 6
Iteration 7
Iteration 8
Iteration 9
Iteration 10
Iteration 11
Iteration 12
Iteration 13
Iteration 14
Iteration 15
Iteration 16
Iteration 17
Iteration 18
Iteration 19
Iteration 20
Iteration 21
Iteration 22
Iteration 23
Iteration 24
Iteration 25
Iteration 26
Iteration 27
Iteration 28
Iteration 29
Iteration 30
Iteration 31
Iteration 32
Iteration 33
Iteration 34
Iteration 35
Iteration 36
Iteration 37
Iteration 38
Iteration 39
Iteration 40
Iteration 41
Iteration 42
Iteration 43
Iteration 44
Iteration 45
Iteration 46
Iteration 47
Iteration 48
Iteration 49
Iteration 50
Iteration 51
Iteration 52
Iteration 53
Iteration 54
Iteration 55
Iteration 56
Iteration 57
Iteration 58
Iteration 59
Iteration 60
Iteration 61
Iteration 62
Iteration 63
Iteration 64
Iteration 65
Iteration 66
Iteration 67
Iteration 68
Iteration 69
Iteration 70
Iteration 71
Iteration 72
Iteration 73
Iteration 74
Iteration 75
Iteration 76
Iteration 77
Iteration 78
Iteration 79
Iteration 80
Iteration 81
Iteration 82
Iteration 83
Iteration 84
Iteration 85
Iteration 86
Iteration 87
Iteration 88
Iteration 89
Iteration 90
Iteration 91
Iteration 92
Iteration 93
Iteration 94
Iteration 95
Iteration 96
Iteration 97
Iteration 98
Iteration 99
Iteration 100